#header{
  background-color: green;
  margin: 0px;
  padding: 0px;
}
#menu{
  background-color: red;
  margin: 0px;
  padding: 0px;
}
#content{
  background-color: blue;
  margin: 0px;
  padding: 0px;
}
#footer{
  background-color: gray;
  margin: 0px;
  padding: 0px;
}
